<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.telecommanager">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">


    <!-- Main Activity -->
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Fault Report Activity -->
        <activity
            android:name=".Activities.FaultReportActivity"
            android:label="@string/fault_report_activity_label" />

        <!-- RegisterElementActivity -->
        <activity
            android:name=".Activities.RegisterElementActivity"
            android:label="@string/register_element_activity_label" />

        <activity android:name=".Activities.StatisticsActivity"></activity>

        <activity android:name=".Activities.NetworkSpeedMeasurementActivity"></activity>


        <activity android:name=".Activities.ReferenceActivity" />

        <activity android:name=".Activities.ToolsListActivity" />

        <activity android:name=".Activities.ToolDetailActivity" />

        <activity android:name=".Activities.MountingWorksListActivity"/>

        <activity android:name=".Activities.MountingWorkDetailActivity"/>

        <activity android:name=".Activities.LineDetailActivity"/>

        <activity android:name=".Activities.LinesOfCommunicationListActivity"/>

        <activity android:name=".Activities.ProtocolsListActivity"/>

        <activity android:name=".Activities.ProtocolDetailActivity"/>

    </application>

</manifest>
